.bootstrap-autocomplete.dropdown-menu {
  padding: 0.5rem;
}

.bootstrap-autocomplete.dropdown-menu a {
  position: relative;
  /*padding: 0.5rem 0.5rem 0.5rem 1.5rem;*/
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: block;
  transition: all 0.2s ease-in;
  text-decoration: none;
  color: #1a1d20;
}

.bootstrap-autocomplete.dropdown-menu a:hover {
  background: #f1f1f1;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.transition {
  transition: all 0.2s ease-in-out;
}

.blur {
  backdrop-filter: blur(10px);
  pointer-events: none;
}

.focused-menu {
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.8);
  transition: box-shadow 0.3s;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-25 {
  opacity: 0.25 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

li {
  list-style: none;
}

.transition-a {
  transition: all 2s ease-in-out;
}

.clickable-item {
  cursor: pointer;
}

.mxn-2 {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.mxn-1 {
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.gallery-image {
  position: relative;
  cursor: pointer;
}

.gallery-image img {
  max-width: 100%;
  border: 2px solid transparent;
}

.gallery-image.selected img {
  border-color: #007bff;
}

.gallery-image .checkmark {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #007bff;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
  display: none;
}

.gallery-image.selected .checkmark {
  display: inline-block;
}

#variant_attrs_items .card-body input {
  border: 0;
  box-shadow: none;
  outline: none;
}

#variant_attrs_items .card-body {
  pointer-events: none;
}

#variant_attrs_items .card-body .select2-selection__arrow,
#variant_attrs_items .card-body a {
  display: none;
}

#variant_attrs_items .card-body .select2-selection {
  border: none;
}

#variant_attrs_items .card-body .field-wrapper {
  display: flex;
  align-items: baseline;
}

.plusCard .card-body {
  display: none;
}


::-webkit-scrollbar {
  width: 27px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6f6b7d;
  border-radius: 20px;
  border: 10px solid transparent;
  background-clip: padding-box;
}

body::-webkit-scrollbar,
.spec-scroll::-webkit-scrollbar,
.select2-results__options::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track,
.spec-scroll::-webkit-scrollbar-track,
.select2-results__options::-webkit-scrollbar-track {
  height: 12px;
  background: #f0f0f1;
  border-radius: 0;
}

body::-webkit-scrollbar-thumb,
.spec-scroll::-webkit-scrollbar-thumb,
.select2-results__options::-webkit-scrollbar-thumb {
  background: #c0c2c5;
  width: 8px;
  border-radius: 0;
  border: none;
  background-clip: initial;
}
