@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ReactTags__tag {
  background: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
}

.ReactTags__remove {
  color: #fff;
  cursor: pointer;
}

.ReactTags__suggestions {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.custom-select__menu {
  z-index: 1050 !important;
}

.mn-2 {
  margin: -0.5rem;
}

/* 
.action-ribbon button {
  width: 36px; 
  height: 36px;
  border-radius: 50%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 0; 
} */

.ribbon {
  overflow: visible !important;
}

.ribbon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.ribbon.border-primary::before,
.ribbon.border-primary::after {
  border-color: #2d22a6;
}

.ribbon.border-danger::before,
.ribbon.border-danger::after {
  border-color: #b64b4b;
}

.ribbon.border-success::before,
.ribbon.border-success::after {
  border-color: #15723f;
}

.ribbon::after,
.ribbon::before {
  position: absolute;
  content: "";
  border: 0.25rem solid;
  border-right-color: transparent !important;
  right: 0;
  opacity: 1;
}

.ribbon::after {
  border-top-color: transparent !important;
  top: 0;
  transform: translateY(-100%);
}

.ribbon::before {
  border-bottom-color: transparent !important;
  bottom: 0;
  transform: translateY(100%);
}

.form-floating > label {
  left: auto !important;
}

.custom-select--nobrorder .custom-select__control {
  border: 0;
  margin: 2px;
}

.rounded-start-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.card-img {
  height: 5rem;
}

.h-24rem {
  height: 24rem;
}

.card-sm {
  height: 2rem;
}

.myn-3 {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.form-floating.warning > .form-control:focus ~ label,
.form-floating.warning > .form-control:not(:placeholder-shown) ~ label,
.form-floating.warning > .form-select ~ label {
  color: rgba(var(--bs-warning-rgb)) !important;
}
.form-floating.warning > input,
.form-floating.warning > input:focus {
  border-color: #f5dfca !important;
  color: rgba(var(--bs-warning-rgb)) !important;
}
.form-floating.warning .custom-select__control,
.form-floating.warning .custom-select__control:focus {
  box-shadow: 0 0 0 1px rgba(var(--bs-warning-rgb)) !important;
}
.form-floating.warning .custom-select__single-value {
  color: rgba(var(--bs-warning-rgb)) !important;
}